<div class="banner-grid">
    <div id="visual">
        <div class="slide-visual">
            <!-- Slide Image Area (1000 x 424) -->
            <ul class="slide-group">
                <li><img class="img-responsive" src="images/ba1.jpg" alt="Dummy Image" /></li>
                <li><img class="img-responsive" src="images/ba2.jpg" alt="Dummy Image" /></li>
                <li><img class="img-responsive" src="images/ba3.jpg" alt="Dummy Image" /></li>
            </ul>

            <!-- Slide Description Image Area (316 x 328) -->
            <div class="script-wrap">

                <div class="slide-controller">
                    <a href="#" class="btn-prev"><img src="images/btn_prev.png" alt="Prev Slide" /></a>
                    <a href="#" class="btn-play"><img src="images/btn_play.png" alt="Start Slide" /></a>
                    <a href="#" class="btn-pause"><img src="images/btn_pause.png" alt="Pause Slide" /></a>
                    <a href="#" class="btn-next"><img src="images/btn_next.png" alt="Next Slide" /></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script type="text/javascript" src="js/pignose.layerslider.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function() {
            $('#visual').pignoseLayerSlider({
                play    : '.btn-play',
                pause   : '.btn-pause',
                next    : '.btn-next',
                prev    : '.btn-prev'
            });
        });
        //]]>
    </script>

</div>
<!-- //banner -->
<!-- content -->

<div class="new_arrivals">
    <div class="container">
        <h3><span>Những chiếc bánh được yêu thích</span></h3>
        <div class="new_grids">
            <div class="col-md-4 new-gd-left">
                <img src="https://s-media-cache-ak0.pinimg.com/736x/03/b1/7c/03b17c7eb1f036c3868727122f62bb13.jpg" alt=" " />
                <div class="wed-brand simpleCart_shelfItem">

                </div>
            </div>
            <div class="col-md-4 new-gd-middle">
                <div class="new-levis">

                    <img src="https://s3.amazonaws.com/studio-me/system/photos/photos/000/807/966/large/6963173_l.jpg?1426774525" alt=" " />

                    <div class="clearfix"></div>
                </div>
                <div class="new-levis">


                    <img src="http://www.abbottandwest.com/wp-content/uploads/2014/01/macaron3.jpg" alt=" " />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 new-gd-left">
                <img src="http://cdn.hoatuoidep.com/asset/home/img/hoatuoidep.com/uploads/1a/bnh%20ci%20nhiu%20tng%205.jpg" alt=" " />
                <div class="wed-brandtwo simpleCart_shelfItem">

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //content -->

<!-- content-bottom -->

<div class="content-bottom">
    <div class="col-md-7 content-lgrid">
        <div class="col-sm-6 content-img-left text-center">
            <div class="content-grid-effect slow-zoom vertical">
                <div class="img-box"><img src="images/p1.jpg" alt="image" class="img-responsive zoom-img"></div>
                <div class="info-box">
                    <div class="info-content simpleCart_shelfItem">
                        <h4>cup cake</h4>
                        <span class="separator"></span>
                        <p><span class="item_price">5.000đ</span></p>
                        <span class="separator"></span>
                        <a class="item_add hvr-outline-out button2" href="#">Đặt hàng</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 content-img-right">
            <h3>Giảm 20% khi đặt hơn 10<span>Cup Cake dâu tây</span></h3>
        </div>

        <div class="col-sm-6 content-img-right">
            <h3>Mua 6 bánh<span> Donut</span> Tặng 1 matcha đá xay</h3>
        </div>
        <div class="col-sm-6 content-img-left text-center">
            <div class="content-grid-effect slow-zoom vertical">
                <div class="img-box"><img src="images/p2.jpg" alt="image" class="img-responsive zoom-img"></div>
                <div class="info-box">
                    <div class="info-content simpleCart_shelfItem">
                        <h4>Donut</h4>
                        <span class="separator"></span>
                        <p><span class="item_price">20.000đ</span></p>
                        <span class="separator"></span>
                        <a class="item_add hvr-outline-out button2" href="#">Đặt hàng </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-5 content-rgrid text-center">
        <div class="content-grid-effect slow-zoom vertical">
            <div class="img-box"><img src="images/p4.jpg" alt="image" class="img-responsive zoom-img"></div>
            <div class="info-box">
                <div class="info-content simpleCart_shelfItem">
                    <h4>Bánh mì dài</h4>
                    <span class="separator"></span>
                    <p><span class="item_price">6.000đ</span></p>
                    <span class="separator"></span>
                    <a class="item_add hvr-outline-out button2" href="#">Đặt hàng </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //content-bottom -->
<!-- product-nav -->

<div class="product-easy">
    <div class="container">

        <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
            });

        </script>
        <div class="sap_tabs" ng-controller="homeCtrl">
            <div  id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item"  ng-repeat="x in loaibanh" aria-controls="x.control" role="tab"><span>{{x.loai}}</span></li>
                </ul>

                <!-- Tab các loại bánh kem-->
                <div class="resp-tabs-container" ng-controller="homeCtrl">
                    <div class="tab-1 resp-tab-content"  aria-labelledby="tab_item-0">
                        <div class="col-md-3 product-men yes-marg" ng-repeat="item in banhkem">
                            <div class="men-pro-item simpleCart_shelfItem" >
                                <div class="men-thumb-item">
                                    <img ng-src="{{item.image}}" alt="" class="pro-image-front">
                                    <img ng-src="{{item.image}}" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a ng-href="{{item.trang_html}}" class="link-product-add-cart">Xem</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">{{item.tinhchat}}</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a ng-href="{{item.trang_html}}">{{item.ten_banh}}</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">{{item.gia}}</span>

                                    </div>
                                    <a ng-href="#" class="item_add single-item hvr-outline-out button2">Đặt hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab các loại bánh ngọt-->
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                        <div class="col-md-3 product-men yes-marg" ng-repeat="item in banhngot">
                            <div class="men-pro-item simpleCart_shelfItem" >
                                <div class="men-thumb-item">
                                    <img ng-src="{{item.image}}" alt="" class="pro-image-front">
                                    <img ng-src="{{item.image}}" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a ng-href="{{item.trang_html}}" class="link-product-add-cart">Xem</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">{{item.tinhchat}}</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a ng-href="{{item.trang_html}}">{{item.ten_banh}}</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">{{item.gia}}</span>

                                    </div>
                                    <a ng-href="#" class="item_add single-item hvr-outline-out button2">Đặt hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tab các loại bánh mặn-->
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                        <div class="col-md-3 product-men yes-marg" ng-repeat="item in banhman">
                            <div class="men-pro-item simpleCart_shelfItem" >
                                <div class="men-thumb-item">
                                    <img ng-src="{{item.image}}" alt="" class="pro-image-front">
                                    <img ng-src="{{item.image}}" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a ng-href="{{item.trang_html}}" class="link-product-add-cart">Xem</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">{{item.tinhchat}}</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a ng-href="{{item.trang_html}}">{{item.ten_banh}}</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">{{item.gia}}</span>

                                    </div>
                                    <a ng-href="#" class="item_add single-item hvr-outline-out button2">Đặt hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //product-nav -->