
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Smart Shop a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>
    
  <body>

    
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- pignose css -->
<link href="css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all" />


<!-- //pignose css -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- cart -->
	<script src="js/simpleCart.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<script src="js/jquery.easing.min.js"></script>
    
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300,200' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 
    
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

</head>

<body ng-app="myshop" ng-controller="myCtrl">
<!-- header -->
<div class="header">
	<div class="container">
        <div ng-controller="myCtrl" >
		<ul>
			<li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{email}}</li>
			<li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Giao Hàng miễn Phí với số lượng lớn</li>
			<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a style="color=#ff3333" href="mailto:info@example.com">nguyenkieukhanh111@gmail.com</a></li>
		</ul>
        </div>
	</div>
</div>

<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="container">
		<div class="col-md-3 header-left">
			<h7>Alpha Store</h7>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<div class="modal-body modal-spa" ng-controller="myCtrl">
    <div class="login-grids">
        <div class="login">
            <div class="login-bottom">
                <h3>Sign up for free</h3>
                <form>
                    <div class="sign-up">
                        <h4>Email :</h4>
                        <input  type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="" ng-model="emaillogup">	
                    </div>
                    <div class="sign-up">
                        <h4>Password :</h4>
                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="" ng-model="passlogup" >

                    </div>
                    <div class="sign-up">
                        <h4>Re-type Password :</h4>
                        <input  type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="" ng-model="repasslogup">

                    </div>
                    <div class="sign-up">
                        <input type="submit" value="REGISTER NOW" ng-click="logup()">
                    </div>

                </form>
            </div>
            <div class="login-right">
                <h3>Sign in with your account</h3>
                <form>
                    <div class="sign-in">
                        <h4>Email :</h4>
                        <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="" ng-model="username_login">	
                    </div>
                    <div class="sign-in">
                        <h4>Password :</h4>
                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="" ng-model="password">
                        <a href="#">Forgot password?</a>
                    </div>
                    <div class="single-bottom">
                        <input type="checkbox"  id="brand" value="">
                        <label for="brand"><span></span>Remember Me.</label>
                    </div>
                    <div class="sign-in">
                        <input type="submit" value="SIGNIN" ng-click="login()" >
                    </div>
                    <br>
                    <div class="sign-in">
                        <input type="submit" value="SIGNIN WITH FACEBOOK" ng-click="loginFacebook()" >
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
    </div>
</div>
					


</body>
</html>
    
        <script src="js/Login.js"></script>
  </body>
</html>



